.next {
    height: 100%;
    position: relative;
    justify-content: center;
    color: white;
    padding: 40px 40px 40px 40px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}
.next-content {
    position: relative;
    font-family: $font-regular;
    color: black;
    text-align: center;
    margin: 0.625rem;
    display: flex;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
    z-index: 5;
}

.next-right{
    margin-left: -150px;
    margin-right: 100px;
    text-align: left;
    padding-top: 200px;
}

.next-image-title{
    position: absolute;
    color: black;
    top: 630px;
    left: 110px;
    line-height: 85%;
    font-size: 4rem;
    font-weight: 1000;
    border-color: black;
    text-align: left;
    letter-spacing: -3px;
    z-index: 8;
}

.next-image-subtitle{
    position: absolute;
    color: black;
    top: 600px;
    left: 115px;
    font-size: 1rem;
    font-weight: 400;
    border-color: black;
    text-align: left;
    z-index: 8;
}

.next-hr{
    position: absolute;
    top: 615px;
    width: 200px;
    left: 115px;
    z-index: 8;
}

.next-title{
    color: black;
    line-height: 85%;
    font-size: 4rem;
    font-weight: 1000;
    margin-left: 200px;
    margin-bottom: -10px;
    border-color: black;
    text-align: left;
    letter-spacing: -3px;
}
.next-text{
    font-size: 1rem;
    font-weight: 300;
    padding-top: 50px;
    margin-left: 200px;
    margin-bottom: -3px;
    color: black;
    text-align: justify;
    font-weight: 400;
}
.background-text-next{
    position: absolute;
    text-align: left;
    height: 150px;
    left: 60%;
    top: 30px;
    font-size: 10rem;
    font-weight: bolder;
    z-index: 3;
    opacity: 0.3;
    color: white;
    padding-top: 200px;
    letter-spacing: -3px;
    line-height: 85%;
}
.blob-next{
    position: absolute;
    padding-top: 10px;
    left: 35%;
    top: 5%;
    z-index: 1;
    opacity: 1;
}

.blob-next-2{
    position: absolute;
    padding-top: 10px;
    top: 530px;
    left: 30px;
    z-index: 5;
    opacity: 1;
}

.stripes-next-1{
    position: absolute;
    width: 30.5%;
    height: 120px;
    left: 450px;
    top: 220px;
    z-index: 5;
    background-image: linear-gradient(
       45deg, transparent 35.71%, #e0e0e0 35.71%, #e0e0e0 50%, transparent 50%, transparent 85.71%, #e0e0e0 85.71%, #e0e0e0 100%
    );
    background-size: 9.90px 9.90px;
    opacity: 0.5;
}

.stripes-next-2{
    position: absolute;
    width: 45%;
    height: 150px;
    top: 640px;
    left: 155px;
    z-index: 6;
    background-image: linear-gradient(
       45deg, transparent 35.71%, #e0e0e0 35.71%, #e0e0e0 50%, transparent 50%, transparent 85.71%, #e0e0e0 85.71%, #e0e0e0 100%
    );
    background-size: 9.90px 9.90px;
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .stripes-next-1{
        left: 10px;
        top: 100px;
    }

    .next-image{
        padding-top: 200px;
    }

    .blob-next{
        left: 0%;
        top: -100px;
    }

    .stripes-next-2{
        top: 800px;
        left: 155px;
    }

    .next-image-title{
        top: 790px;
        left: 110px;
    }

    .next-hr{
        top: 765px;
        width: 200px;
        left: 115px;
    }
    
    .next-image-subtitle{
        top: 750px;
        left: 115px;
    }

    .blob-next-2{
        top: 700px;
        left: 30px;
    }

    .next-title{
        position: absolute;
        line-height: 85%;
        font-size: 4rem;
        top: 50px;
        left: -150px;
        margin-left: 200px;
        z-index: 7;
    }

    .background-text-next{
        left: 150px;
        top: -120px;
        font-size: 8rem;
        z-index: 3;
    }
 }